priority 1

snippet tabletest "Table Test" b
func Test${1:name}(t *testing.T) {
	type TestCase struct{
		tName string
	}
	tt := []TestCase{
		{
			tName: "",
		},
	}
	for _, tc := range tt {
		tc := tc
		t.Run(tc.tName, func(t *testing.T) {
			t.Parallel()
		})
	}
}
endsnippet
