# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Backend Languages (Python, Go, Ruby etc)

# Python
[{*.py,python.snippets}]
indent_style = space
indent_size = 4

# Ruby
[{*.rb,Vagrantfile}]
indent_style = space
indent_size = 2

# Gol
[*.go]
indent_style = tab

# Front End Languages (HTML, JS, CSS etc)

[*.{js,css,html}]
indent_style = space
indent_size = 2

# Misc

# YAML Style
[*.{yml,yaml,sls,jinja}]
indent_style = space
indent_size = 2

# Protobuf
[*.proto]
indent_style = space
indent_size = 2

# TOML
[*.toml]
indent_style = space
indent_size = 2
